<div class="col-sm-4">
<div class= "well">
  <div class= "well" style="text-align:justify,text-decoration: underline">
  <h6 style="color:red">You can login here in case you are registered</h6>
</div>
<form action="/user" method="post">
  <div class="form-group">
    <label for="id">Scholar-Id</label>
    <input type="text" class="form-control" id="id1" name="id" />
  </div>
    <div class="form-group">
    <label for="id">Password</label>
    <input type="password" class="form-control" id="password" name="password" />
  </div>
  <button type="submit" class="btn btn-primary" >Login</button>
</form>
</div>
