<div style="text-align:left" class="container">
<h3 style="color:green">All questions</h3>
<div>
  <ul class="list-group">
    <div>
    {{#each items }}
    <ul class="list-group">
        <div class="well">
             <li class="list-group-item">Question: {{ this.question }}</li>

            {{#each this.options}}
              <li class="list-group-item">Options: {{ this }}</li>
            {{/each}}

            <li class="list-group-item">Correct Answer: {{ this.optionCorrect }}</li>

        </div>
      </ul>

    {{/each}}
    <br />
    <br />
  </div>
</div>
</div>
